<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Da frontend</title>

</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: lightslategray;

    }

    .container {
        display: flex;
    }

    header {
        background: black;
        height: 30vh;
        margin-bottom: 15px;
        letter-spacing: 5vh;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
    }

    header>h1 {
        color: white;
        text-align: center;
        grid-row-start: 3;
    }

    aside {
        /* border: solid 1px white; */
        background: lightslategray;
        width: 30%;
        height: 30vh;
        margin-right: 3%;
        margin-left: 3%;
        /* position:fixed; */
    }

    .about>p,
    li {
        margin-left: 1vh;
    }

    .about>h3 {
        background: lightgrey;
        padding: 1.5vh;
    }

    .about>p {
        text-align: center;
    }

    article>.theField {
        margin-bottom: 3px;
        background: white;
    }

    main {
        width: 60%;
        margin-left: 3%;
    }

    /* .upvote {
        background-image: url("https://github.com/green-fox-academy/Sidhava/blob/master/week-09/day-05/reddit-frontend_next/assets/upvote.png?raw=true");
        color: white;
        background-color: white;
    }

    .downvote {
        background-image: url("https://github.com/green-fox-academy/Sidhava/blob/master/week-09/day-05/reddit-frontend_next/assets/downvote.png?raw=true");
        color: white;
        background-color: white;
    } */

    aside>button {
        width: 100%;
        height: 4vh;
        text-transform: uppercase;
        background-color: blue;
        color: white;
        font-weight: bold;
        letter-spacing: 0.3vh;
        border: solid 1px blue;
        margin-bottom: 1vh;
    }
    .hide {
        display:none;
    }
</style>

<body>
    <header>
        <h1>SPACE</h1>
    </header>
    <div class="container">
        <main>
            <article>
                <% for (let i=index.length-1; i>= 0; i--) { %>
                <div class="theField">
                    <p>id:<%= index[i].title %> </p>
                    <button class="upvote">upvote</button>
                    <p>Score: <%=index[i].score%></p>
                    <button class="downvote">downvote</button>
                    <p> URL: <a href="<%= index[i].url %>"><%= index[i].url %></a></p>
                    <form class="delete">
                    <p class="hide"> <%=index[i].id%></p>
                        <input type="submit" value="remove post">
                    </form>
                </div>
                <% } %>
            </article>

        </main>
        <aside>
            <button onclick="redirect()">Submit a new post</button>
            <div class="about">
                <h3 class="whatAbout">About</h3>
                <p>Share and discuss</p>
                <li>list 1</li>
                <li>list 2</li>
                <li>list 3</li>
                <li>list 4</li>
            </div>
        </aside>
    </div>
    <!-- <script>
        let h1 = document.querySelector('h1');
        let a = document.createElement('a')
        let whatabout = document.querySelector('.whatAbout');
        a.setAttribute('href', '#')
        a.textContent = ` r/${h1.textContent.toLowerCase()}`
        whatabout.appendChild(a)
        let btn = document.querySelector('button')
        function redirect() {
            window.location = 'http://localhost:2999/post'
        }
    </script> -->
    <script type="text/javascript" src="/index.js"></script>
</body>

</html>