<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>

<body>
    <h2>The weather</h2>
    <div class="containerMain">
        <% for (let i=0; i< dashBoard.length; i++){ %>
        <div class="citiesOneByOne" location.href="https://localhost:3000">
            <p class="<%=dashBoard[i].city%>" </p><%= dashBoard[i].city%> <%= dashBoard[i].weather[0].temp %> °C </p>
                <img src=<%= dashBoard[i].weather[0].icon %> height=40px width=40px>
                <p><%= dashBoard[i].location %></p>
        </div>
        <% } %>
    </div>
    <script>
        let clickOnTheCity = document.querySelectorAll('.citiesOneByOne');


        for (let i = 0; i < clickOnTheCity.length; i++) {
            clickOnTheCity[i].onclick = () => {
                location.href="?cities="+clickOnTheCity[i].querySelector("p").classList[0]
            // clickOnTheCity[i].onclick = (event) => {
            //     location.href="?cities="+event.target.querySelector("p").classList[0]
                // console.log(event.target.querySelector("p").classList[0]);
            }
        }

    </script>
</body>

</html>